/* Change the default color of the page body  */
body {
    background-color: bisque;
    padding: 20px;
}

/* Change the default font color */
* {
    color:sienna;
}

/* For header 1: Customized the font size, weight, font type, padding, alignment, and border color band */
h1 {
    font-size: 50px;
    font-weight:lighter;
    font-family: "Agu Display", serif;
    padding-top: 0.5;
    background-color:cadetblue;
    text-align: center;
    border-radius: 15%;
    max-width: 1500px;
}

/* For header 2: Customized the font size, weight, font color, text alignment, border band color, beveled 
edges of band color, and modified width of band */
h2 {
    font-size: 25px;
    font-weight:bolder;
    color:darkred;
    text-align: left;
    background-color:color-mix(in hsl shorter hue, pink 30%, cadetblue 50%);
    border-radius: 7%;
    width: 140px;
}

/* Add spacing (padding/margin) between sections */
section {
    margin-top: 7px;
    margin-bottom: 10px;
    padding-bottom: 0.2px;
}

/* Transform the "Experience" list items into styled blocks  */
#Experience ul{
        list-style: square;
        display: flex;
}

/*Transform the style of the "Connect" links, and use flexbox. STRETCH-GOAL: add images as links */
#Connect ul {
        list-style: none;
        display: flex;
}

/*use flexbox to make the connect icons next to each other and some distance apart */
.connection-icon {
    border: 2px ;
    margin: 10px;
}

/*Make footer font size smaller than all the other text on the page */
footer {
    font-size:x-small;
}

/*Make menu bar at the top of the page that stays there after scrolling down */
.menu {
    background-color:rgb(76, 70, 70);
    padding: 5px 0;
    position: sticky;
    width: 100%;
    top: 0;
}

/*Make a list of the menu options at the top of the page and create direct links to the site */
.menu ul {
    list-style: none;
    text-align: center;
    margin: 0 auto;

    li {
        display: inline;
        margin: 0 15px;
        font-size: 30px;
    }

    li a{
        color: beige;
    }
}

/*In the experience section, create columns for work experience with descriptions */
.Experience-items {
    display: flex;
    justify-content: space-around;
}

/*In the experience section, make the columns for work experience with descriptions evenly spaced to avoid overlap */
.Experiences {
    border: 2px ;
    margin: 5px;
}
